@model ProyectoPrimerParcial.Models.Instructor

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo instructor</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreInstructor" class="control-label"></label>
                <input asp-for="NombreInstructor" class="form-control" />
                <span asp-validation-for="NombreInstructor" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
             <br>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="LegajoVuelo" class="control-label"></label>
                <input asp-for="LegajoVuelo" class="form-control" />
                <span asp-validation-for="LegajoVuelo" class="text-danger"></span>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div><br>
<br>
    <a asp-action="Index">Menu principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
