@model ProyectoPrimerParcial.Models.Aeronave

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Aeronave</h1>

<h3>Esta seguro que quiere eliminar esta aeronave?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAeronave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAeronave)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AeronaveId" />
        <input type="submit" value="Eliminar aeronave" class="btn btn-danger" /> 
        <br>
        <br>
        <a asp-action="Index">Menu principal</a>
    </form>
</div>
